<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Все туры:</h1>
<p>Куба: <a href="/data/tours/1/">Marina Lake Hotel & Spa 62000 4* </a></p>
<p>Вьетнам: <a href="/data/tours/2/">Baroque Hotel 85000 5* </a></p>
<p>Пакистан: <a href="/data/tours/3/">Voyager Resort 63000 3* </a></p>
<p>Индия: <a href="/data/tours/4">Orbit Hotel</a></p>
<p>Доминикана: <a href="/data/tours/5">Atlantis Cabin Hotel</a></p>
<p>Пакистан: <a href="/data/tours/6">Light Renaissance Hotel</a></p>
<p>Мексика: <a href="/data/tours/7">King's Majesty Hotel</a></p>
<p>Тайланд: <a href="/data/tours/8">Crown Hotel</a></p>
<p>Индия: <a href="/data/tours/9">Seascape Resort</a></p>
<p>Куба: <a href="/data/tours/10">Rose Sanctum Hotel</a></p>
<p>Индия: <a href="/data/tours/11">Viridian Obelisk Hotel & Spa</a></p>
<p>Мексика: <a href="/data/tours/12">Saffron Tundra Hotel & Spa</a></p>
<p>Куба: <a href="/data/tours/13">Traveller Resort</a></p>
<p>Вьетнам: <a href="/data/tours/14">History Hotel & Spa</a></p>
<p>Доминикана: <a href="/data/tours/15">Riverside Lagoon Hotel & Spa</a></p>
<p>Вьетнам: <a href="/data/tours/16">History Hotel & Spa</a></p>
<p></p>
</body>
</html>