<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Туры из Новосибирска:</h1>
Куба: <a href="/tours/1/">Marina Lake Hotel & Spa</a>
Пакистан: <a href="/tours/3">Voyager Resort</a>
Индия: <a href="/tours/9/">Seascape Resort</a>

<h1>Туры из Екатеринбурга:</h1>
Вьетнам: <a href="/tours/2/">Baroque Hotel</a>
Мексика: <a href="/tours/7/">King's Majesty Hotel</a>
Куба: <a href="/tours/13/">Traveller Resort</a>

<h1>Туры из Москвы:</h1>
Индия: <a href="/tours/4/">Orbit Hotel</a>
Доминикана: <a href="/tours/5/">Atlantis Cabin Hotel</a>
Куба: <a href="/tours/10/">Rose Sanctum Hotel</a>

<h1>Туры из Санкт-Петербурга:</h1>
Пакистан: <a href="/tours/6/">Light Renaissance Hotel</a>
Индия: <a href="/tours/11/">Viridian Obelisk Hotel & Spa</a>
Доминикана: <a href="/tours/15/">Riverside Lagoon Hotel & Spa</a>
Вьетнам: <a href="/tours/16/">History Hotel & Spa</a>

<h1>Туры из Казани:</h1>
Тайланд: <a href="/tours/8/">Crown Hotel</a>
Мексика <a href="/tours/12/">Saffron Tundra Hotel & Spa</a>
Вьетнам: <a href="/tours/14/">History Hotel & Spa</a>
</body>
</html>